//--------------    simple utility colors   ----------------------//
//syntax @typeXXX/o
//type: uni - uniform RGB values, r - red only values, g - green only, b - blue only, rg - red/green only, same for rb and bg
//XXX: rgb color value, from 0 to 255
//o: opacity will range from 0 to 100...it will be mathematically reduced to a fraction

//simple natural colors ... i encourage using #fff, #000, #f00 in place of these because as @mdo said for bootstrap3, it's 20% shorter and saves LESS some work
@white: rgb(255,255,255);
@black: rgb(0,0,0);
@red: rgb(255,0,0);
@green: rgb(0,255,0);
@blue: rgb(0,0,255);
@violet: rgb(255,0,255);

//the uniform colors ... in steps of 5, 10 or 15
@uni0: rgb(0,0,0);
@uni5: rgb(5,5,5);
@uni10: rgb(10,10,10);
@uni15: rgb(15,15,15);
@uni20: rgb(20,20,20);
@uni25: rgb(25,25,25);
@uni30: rgb(30,30,30);
@uni35: rgb(35,35,35);

